#Gardening Factors: DO NOT change defaults without verifiable proof that your change IS how retail does it. Myths need to be optional.
garden_day_matters: 0
garden_moonphase_matters: 0
garden_pot_matters: 0
garden_mh_aura_matters: 0
